/* body {
    background: url(../backG.jpg) no-repeat fixed center/cover;
} */

/* ============================= */

main {

    text-align: center;
}

h1 {
    text-align: center;
}

span {
    display: inline-block;
    text-align: left;
    vertical-align: text-top;
    background-color: rgba(240, 255, 255, 0.568);
    width: 40%;
}

p {
    display: inline-block;
    text-align: left;
    vertical-align: text-top;
    background-color: rgba(240, 255, 255, 0.568);
    width: 40%;
}