body {
    background: url(../images/main_backgound.jpg);
    background-size: cover;
    background-attachment: fixed;

}

.logo {
    width: 30%;

}



div {
    text-align: center;
    
}

   
.fa-solidfa-bars{
    /* /opacity: 0.7; */
    width: 100%;
    
    
}