body ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

header a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    text-align: center;

}


body {
    background: url(../images/main_backgound.jpg);
    background-size: cover;
    background-attachment: fixed;

}

.logo {
    width: 30%;

}

header>div {
    text-align: center;
}








.do a {
    font-size: 150%;
    transition-property: font-size;
    transition-duration: .5s;
}

.do a:hover {
    font-size: 300%;
}