body {
    background: url(../images/giro_image/minji/minji2.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-color: black;
    
}
.mom{
    text-align: center;
    width: 20%;

}

div {
    background-color: rgb(188, 35, 35);
    /* display: inline-block; */
    /* height: 10000vh; */
    background-color: black;
    width:50%;
    margin-left:5% ;
    margin-top: 100px;
    
}

li {
    margin-top: 30%;
    display: inline-block;
    font-size: 30px;
    color: gainsboro;
    transition-property: font-size;
    transition-duration: .5s;
    list-style: none;
    font-weight: bold;
}   

li:hover {
    font-size: 40px;
    color: firebrick;
}
.as{
    display: inline-block;
    font-size: 25px;
    height: 100px;
    width: 200px;
    text-align: center;
    margin-top: 50px;
    margin-left: -40%;

}
i{
    color: gray;
    margin: 3px;
    opacity: .7;
}

a:hover{
    font-size: 50px;
    transition-duration: 1s;
}

i:hover{
    color: white;
    opacity: 1;
    
}