body {

    background: url("../images/main_backgound.jpg") no-repeat fixed center/cover;

}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.product-image {
    margin-right: 20px;
    flex: 0 0 100px;

}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-info {
    flex: 1;
}

.product-info p {
    margin: 5px 0;
}

.total-amount {
    margin-top: 20px;
    text-align: right;
}

#payment-methods {
    margin-top: 20px;
}

#payment-methods label {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#payment-methods label img {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

#checkout-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}